<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet"/>

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet"/>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<form action="uploadSuccess.html" th:action="@{/carousel/upload}" method="post" enctype="multipart/form-data">
    <p><b>TITLE:</b>
        <input type="text" name="title"/>
    </p>
    <input type="file" name="file" /><br/>
    <input type="submit" />
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>File</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carouselItem : ${carousel}">
        <td th:text="${carouselItem.id}"></td>
        <td th:text="${carouselItem.title}"></td>
        <td th:text="${carouselItem.img.fileNameWithExtention}"></td>
        <td>
            <a th:href="@{/carousel/delete/} + ${carouselItem.id}"><span>Delete</span></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>